beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
defusedxml==0.7.1
emoji==2.12.1
fonttools==4.53.1
fpdf2==2.7.9
frozendict==2.4.4
html5lib==1.1
idna==3.10
inflect==7.3.1
Jinja2==3.1.4
lxml==5.3.0
Markdown==3.6
markdown2==2.5.0
MarkupSafe==2.1.5
more-itertools==10.4.0
multitasking==0.0.11
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pdfkit==1.0.0
peewee==3.17.6
pillow==10.4.0
platformdirs==4.3.6
PyPDF2==3.0.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
webencodings==0.5.1
yfinance==0.2.43
