<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{ticker}} {{title}}</h1>

    {% for i in range(0, data|length, 4) %}
      <table>
        {% for j in range(2) %}
          <tr>
            {% for k in range(2) %}
              {% set index = i + j * 2 + k %}
              {% if index < data|length %}
                <td>
                  {{ data[index].image_name }}
                  <div class="graphs--graph--two-screenshots">
                    <img alt="{{ data[index].image_name }}" src="{{ data[index].image_path }}" />
                  </div>
                </td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </body>
</html>
