<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
  </head>
  <body>
    <h1>{{ticker}} Options</h1>

    <div class="container">
      {% for option in data %}
        <div class="graphs">
          <div class="graphs--title">
            <h2>{{option.name}}</h2>
          </div>
          {% for index, option_image in enumerate(option.option_images) %}
            <div class="graphs--subtitle">
              <h3>{{option_image.image_name}}</h3>
            </div>

            {% if 'dojis' in option.name|lower %}
              <div class="graphs--graph--dojis">
                <img
                  alt="{{option_image.image_name}}"
                  src="{{option_image.image_path}}"
                />
              </div>
              <div class="pagebreak"></div>
            {% else %}
              <div class="graphs--graph--two-per-page">
                <img
                  alt="{{option_image.image_name}}"
                  src="{{option_image.image_path}}"
                />
              </div>
              {% if (index + 1) % 2 == 0 and not loop.last %}
                <div class="pagebreak"></div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        {% if not loop.last %}
          <div class="pagebreak"></div>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
